<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="cabshare_app"
        android:icon="@mipmap/ic_launcher"
        android:name="android.app.Application">
        <activity
            android:name=".MainActivity"    <!-- relative to namespace -->
        android:exported="true"
        android:theme="@style/LaunchTheme"
        android:launchMode="singleTop"
        android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:hardwareAccelerated="true"
        android:windowSoftInputMode="adjustResize">
        <meta-data android:name="io.flutter.embedding.android.NormalTheme"
            android:resource="@style/NormalTheme"/>
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>
    <meta-data android:name="flutterEmbedding" android:value="2"/>
</application>

<uses-permission android:name="android.permission.INTERNET"/>
    </manifest>
